@model IEnumerable<BodyArea>
@using OnTrak.Models.Entities
@using OnTrak.Models.UIModel

@foreach (var bodyArea in Model)
{
    <div class="card card-group m-1 p-1">
        <h3>
            @bodyArea.Name
            @Html.Partial("_TableButtonsPartial", new SmallButtonModel { Id = bodyArea.Id })
        </h3>
    </div>
}